<div class="home-container">
  <div class="header-container">
    <div class="icon-container">
      <h1>Qual o clima?</h1>
      <img src="../../../assets/icone-sol.png" alt="icone de sol">
    </div>
  </div>

  <mat-form-field class="example-form-field">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    @if (value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <div class="information-container">
    <app-card-clima *ngFor="let item of clima"></app-card-clima>
  </div>
</div>
