<div class="home-container">
  <div class="header-container">
    <div class="icon-container">
      <h1>Qual o clima?</h1>
      <img src="../../../assets/icone-sol.png" alt="icone de sol">
    </div>
  </div>

  <div class="state-input-container">
    <mat-form-field appearance="fill">
      <mat-label>Digite o estado</mat-label>
      <input matInput [(ngModel)]="estado" placeholder="Ex: SP" (keyup.enter)="validarEstado()">
      <mat-error *ngIf="erroEstado">{{ erroEstado }}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="validarEstado()">Buscar</button>
  </div>

  <div class="information-container">
    <app-card-clima/>
  </div>
</div>
