<div class="home-container">
  <div class="header-container">
    <div class="icon-container">
      <h1>Qual o clima?</h1>
      <img src="../../../assets/icone-sol.png" alt="icone de sol">
    </div>
  </div>

  <div class="city-field-container">
    <mat-form-field class="city-field">
      <mat-label class="label-input-city" *ngIf="inputCity == ''">Digite a cidade...</mat-label>
      <input matInput type="text" [(ngModel)]="inputCity" class="input-city-field" (keyup.enter)="getStateApi()">
    </mat-form-field>
  </div>

  <div class="information-container">
    <app-card-clima *ngFor="let item of climationDay" [data]="item"></app-card-clima>
  </div>
</div>
